/* Tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts configuration */
@font-face {
  font-family: "Baby Aletha";
  src: url("/fonts/BabyAletha.otf");
  size-adjust: 200%;
}

@font-face {
  font-family: "Roast Chicken";
  src: url("/fonts/RoastChicken.otf");
  size-adjust: 120%;
}

/* Root variables declaration */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --cl-primary: blue;
  --cl-black: #000000;
}

/* Global styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Custom classes */
.hoverable {
  cursor: pointer;
}

.hoverable::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: auto;
  background: var(--cl-black);
  transition: width 0.3s;
}

.hoverable:hover::after {
  width: 100%;
}
